<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

  <div id="app" class="ui container">
    <h1>Notification Center</h1>

    <!-- Notification Message Markup -->
    <!-- Types: info, warning, error, success -->
    <notification-message>
      Never give up!
    </notification-message>
    <notification-message type="warning">
      Never give up!
    </notification-message>
    <notification-message type="error">
      Never give up!
    </notification-message>
    <notification-message type="success">
    </notification-message>

  </div>


  <!-- Template for Notification Message -->
  <script type="text/x-template" id="notification-message-template">
    <div v-if="isOpen" class="ui message" :class="type">
      <i @click="hideMessage" class="close icon"></i>
      <div class="header">
        <slot>
          You are eligible for a reward
        </slot>
      </div>
      <p>Go to the <b>special offers</b> page to see now.</p>
    </div>
  </script>

  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Your JavaScript Code :) -->
  <script>
    Vue.component('notification-message', {
      template: "#notification-message-template",
      props: {
        type: {
          type: String,
          default: "info",
          requited: true
        }
      },
      data: () => ({
        isOpen: true
      }),
      methods: {
        hideMessage() {
          this.isOpen = false
        }
      }
    })

    new Vue({
      el: '#app'
    })
  </script>
</body>

</html>